    <div class="movies-grid">
      <% @list.movies.each do |movie| %>
      <div class="box-poster">
        <img class="img-poster" src="<%= movie.poster_url %>">
        <p class="movie-path"><%= movie.title %></p>
      </div>
      <% end %>
    </div>

    <div class='button'>
<%= link_to 'Watch list', lists_path, class:'btn-primary' %>
